  <% include ./partials/head %>
   <header>
     <% include ./partials/navbar %>
   </header>
      <div class="container">
        <div class="row center-align">
          <h3><%= title %></h3>
        </div>
        <div class="row center-align">
          <h5></h5>
        </div>
        <div class="divider"></div>
        <div class="row center-align">
          <h5>Created by Rick Baker</h5>
        </div>
        <div class="row">
            <div>Technology Used in this Application</div>
            <ul class="collection">
                <li class="collection-item">Node</li>
                <li class="collection-item">Express</li>
                <li class="collection-item">Mongo DB</li>
                <li class="collection-item">Mongoose</li>
                <li class="collection-item">Materialize CSS</li>
            </ul>
        </div>
    </div>
<% include ./partials/footer %>