   <% include ./partials/head %>
   <header>
     <% include ./partials/navbar %>
   </header>
    <div class="container">
        <h4 class='center'>Friends Finder</h4>
        <hr />
        <div class='row'>
            <div class='col s12'>
            <div class="section"</div>
                <h5>Friend Search</h5>
                <form action='/finder' method='GET'>
                    <div class="row">
                        <div class="input-field col s4">
                            <input type='text' name='friend_name' placeholder='Partial name search' />
                        </div>
                    </div>
                    <button class='btn btn-waves' type='submit'>Search</button>
                </form>
            </div>
        </div>
        <div class="section"></div>
        <div class="divider"></div>
        <div class="row">
            <div class="col m3 s12"></div>
            <table class='table col m8 s12 striped'>
                <thead>
                    <th>Friend Name</th>
                    <th>Friend Note</th>
                </thead>
                <tbody>
                    <% friends.forEach( function(friend) { %>
                        <tr>
                            <td>
                                <%= friend.friend_name %>
                            </td>
                            <td>
                                <%= friend.friend_note %>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
     </div>
<% include ./partials/footer %>