   <% include ./partials/head %>
   <header>
     <% include ./partials/navbar %>
   </header>
    <div class="container">
        <h4 class='center'>Friends List</h4>
        <hr />
        <div class='row'>
            <div class='col s12'>
            <div class="section"</div>
                <h5>Add Friend</h5>
                <form action='/friends' method='POST'>
                    <div class="row">
                        <div class="input-field col s4">
                            <input type='text' name='friend_name' placeholder='name' />
                        </div>
                        <div class="input-field col s8">
                            <input type='text' name='friend_note' placeholder='note' />
                        </div>
                    </div>
                    <button class='btn btn-waves' type='submit'>Add</button>
                </form>
            </div>
        </div>
        <div class="section"></div>
        <div class="divider"></div>
        <div class="row">
            <div class="col m3 s12"></div>
            <table class='table col m8 s12 striped'>
                <thead>
                    <th><h5>Friend Name</h5></th>
                    <th><h5>Friend Note</h5></th>
                    <th><h5>Action</h5></th>
                </thead>
                <tbody>
                    <% friends.forEach( function(friend) { %>
                    <% action = '/friends/' + friend.id %>
                        <tr>
                            <td>
                                <a href=<%= action %>><%= friend.friend_name %></a>
                            </td>
                            <td>
                                <%= friend.friend_note %>
                            </td>
                            <td>
                                <form action=<%= action %> method='POST'>
                                    <button class='btn waves-effect' type='submit'>Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            </div>
     </div>
<% include ./partials/footer %>