  <% include ./partials/head %>
   <header>
     <% include ./partials/navbar %>
   </header>
      <div class="container">
        <div class="row center-align">
          <h3><%= title %></h3>
        </div>
        <div class="row center-align">
          <h5>Welcome to <%= title %>, where you keep notes about your friends</h5>
        </div>
        <div class="divider"></div>
        <div class="row center-align">
          <h5>What do you want to do?</h5>
        </div>
        <div class="row">
          <div class="col s2"></div>
          <div class="col s8 center-align">
            <a class="btn" href="/friends">Add or Edit Friends</a> 
            <a class="btn" href="/finder">Search Friend list</a>
          </div>
          <div class="col s2"></div>
        </div>
    </div>
  </body>
</html>
