  <% include ./partials/head %>
   <header>
     <% include ./partials/navbar %>
   </header>
      <div class="container">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
  </body>
</html>
